html, body {      
    font-family: verdana,Tahoma,Helvetica;	
    margin: 0;
    padding: 0;    	
    margin:0;    
    font-size: 13px;           
}
form {margin:0; padding:0;}
ul, li,h1, h2, h3, h4, h5, h6, dl, dd, dt, p {
margin: 0px;
padding: 0px;
border:0px;
}
ul, li {
list-style: none;
white-space:nowrap;
}
ul, menu, dir {
list-style-type: disc;
}
a{text-decoration:none;color:#0560A6;}
a:hover{text-decoration:none;}
a:visited{color:#0560A6;}
div{font-size: 13px; font-family: Arial,tahoma, verdana}
td{font-size: 13px; font-family: Arial,tahoma, verdana; white-space:nowrap;}
img
{
    border:0px;
}
.Ulos
{
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;font-size:1.1em;
}
.Tips
{
	padding-right: 0px; padding-left: 0px; list-style-image: url(/Manager/Resources/Images/Bulletl.gif); padding-bottom: 0px; margin: 0px 0px 0px 10px; padding-top: 0px
}
#VScontentmain
{
    float:left;
    text-align:left;
    width:100%;
}
#VStop
{   
	width:100%;
	height:36px; 
	margin-bottom:4px;	
	border-bottom:solid 1px #dbe1e6; 
    background:url(/Manager/Resources/Images/bg_header_login.png) repeat-x center top;  
}
.host_new_main
{    
    float:left; 
    position:absolute; 
    left:400px;     
    height:250px; 
    width:450px; 
    background:url(/Manager/Resources/Images/row_new_host.png) no-repeat 338px 6px;         
    z-index:1000;        
    margin-top:25px;
}
.news_host_view_all
{
    background:url(/Manager/Resources/Images/icon_left.jpg) no-repeat left 2px;  
    height:25px;
    width:80px;
    padding-left:14px;
    margin-top:6px;
    margin-left:10px;
    float:left;
}
.host_new_rows
{
   border-bottom:solid 1px #dbe1e6; 
   border-left:solid 1px #dbe1e6; 
   border-right:solid 1px #dbe1e6; 
   float:left; 
   position:absolute;     
   height:186px; 
   width:386px; 
   margin-top:17px;   
   background-color:White;   
   margin-left:35px;   
}
.footer_list_news
{
   border-bottom:solid 1px #dbe1e6; 
   border-left:solid 1px #dbe1e6; 
   border-right:solid 1px #dbe1e6; 
   height:27px; 
   width:386px; 
   float:left; 
   position:absolute; 
   clear:left;
   margin-left:35px;
   margin-top:204px;   
   background-color:#fbfdfd;   
}
#Menu_00
{
    width:68px;    
    background:url(/Manager/Resources/Images/bg_item_rows.png) no-repeat right bottom; 
}
#VStop .VSTop_Left_One
{   
    margin-left:5px;
    float:left;    
    margin-top:5px;        
}
#VStop .VSTop_Left_Two
{
    float:left;
    margin-left:8px;
}
#VStop .VSTop_Right li
{
    float:right;
    padding:0px 5px 0px 5px;     
    color:#0088cc;     
    margin-top:3px;    
}
#VStop .VSTop_Right li a
{
   color:#0088cc;    
}
#VStop .VSTop_Right a:hover
{
   color:Red;    
}
#VStop .VSTop_Left_Two li
{
    float:left;
    padding:12px 10px 0px 10px;         
    font-weight:bold;     
}
#VStop .VSTop_Left_Two li a
{
    color:#0885bf;   
}

#VStop .VSTop_Left_Two li a:hover
{   
    color:#0a88f9;    
}
.Header_Top_Right li
{
    float:right;
    padding:0px 5px 0px 5px;     
    color:#0088cc;       
    margin-top:3px;    
}
.Header_Top_Right li a
{
   color:#0088cc;    
}
.Header_Top_Right a:hover
{
   color:Red;    
}
#VSleft
{
    width:210px;  
    height:668px;
    cursor:pointer;               
}
#VSleft .VSMenu_Left
{
    margin-left:25px;    
}
#VSleft .VSMenu_Left li
{
    clear:left;
    padding:5px 8px 4px 0px;    
    float:left;
    color:#3d474c;
    font-weight:bold;   
    width:186px;        
}
#VSleft .VSMenu_Left li li a
{
    clear:left;
    padding:0px 4px 0px 0px;    
    float:left;
    color:#333333;
    font-weight:normal;    
}
#VSleft .VSMenu_Left a:hover
{
    color:#0088cc;
}
#VSleft .VSMenu_Left_Top_Left
{
    height:25px;
    float:left;
    width:90px;
    font-weight: bold;
    color: #0088cc;    
    text-align:center;
    padding-top:5px;
}
#VSleft .VSMenu_Left_Top_Right
{
    height:20px;
    float:left;
    width:119px;
    border-bottom:solid 1px #dbe1e6;
    border-left:solid 1px #dbe1e6; 
    background-color:#f9fafa;
    background:url(/Manager/Resources/Images/Cmd_Menu_Left.gif) no-repeat right top;  
    font-weight: bold;
    color:#5c5858;    
    padding-top:5px;       
}
#VScontent
{
    width:100%;       
    padding-bottom:25px;                     
}
#VScontent .VSTop_Contents
{
    height:25px;
    background-color:#fbfdfd;
    width:100%;
    border-bottom:solid 1px #dbe1e6;
}
#VScontent .VSTop_Contents a
{
    color:#0088cc;    
    padding-right:5px;    
}
#VSbottom
{    	
	clear:left;
	margin-top:3px;
	height:40px;    
    width:100%; 
    text-align:center;
	font-size: 11px; color: #7e7d7d;	
	font-family: Verdana,arial;  
	padding-top:18px;
	background:url(/Manager/Resources/Images/Bg_Bottom.gif) no-repeat center top;  
}
.header_top_login
{
    height:36px;
    width:100%;
    border-bottom:solid 1px #dbe1e6; 
    background:url(/Manager/Resources/Images/bg_header_login.png) repeat-x center top;  
}
#VSbottom a{text-decoration:none;color:#7e7d7d;}
#VSbottom a:hover{text-decoration:none;color:Red;}
/*-- Login System --*/
#LoginMain
 {	    	    	 	      	    	   
   position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -168px;
    border: solid 1px #d3d3d3;
    width: 460px;
    padding: 15px;
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
    display: block;
    z-index: 100;    
}  
#LoginMain .TopHeader
{	  
    width: 460px;
    height: 48px;
    float: right;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);  
}
#LoginMain .TopHeader .Left_TopHeader
{	
    float: left;
    margin-left: 5px;
    margin-top: 0px;
}
#LoginMain .Erromessage
{
	margin-top:8px;
	width:300px; 	  
	float:left;  
	font-size: 13px;
    color: red;
    height:10px;
    padding-left:88px;
    font-family: Tahoma, Arial, Helvetica;             
 }
#LoginMain .ContainMain
{
    margin-top:16px;       
    width:240px; 	
	float:left; 
	padding-left:86px; 		
	text-align:center;                	    
}
#LoginMain .Copyright a
{        
	margin-top:15px;
    width:300px; 	  
	float:left;
	font-size: 11px;
    color: #666666;
    font-family: Tahoma, Arial, Helvetica;                
    padding-top:8px; 
    padding-bottom:3px;       
    text-align:left;
    padding-left:15px;  
    text-decoration:none;               
}  
#LoginMain .Copyright a:hover
{        
    color: red;    
    text-decoration:none;         
}  
#LoginMain .Postright
{
    float:right;        
    width:65px; 
    margin-top:15px;
    padding-top:8px; 
    font-size: 11px;
    color: #666666;
    padding-bottom:3px;
    font-family: Tahoma, Arial, Helvetica;    
    padding-right:5px;   
} 
#Image_Securityes input
{
    border-right: #7f9db9 1px solid;  margin-left:100px; position:absolute; height:32px; border-top: #7f9db9 1px solid; margin-top: -36px; font: 16px tahoma, helvetica, sans-serif; font-weight:bold; border-left: #7f9db9 1px solid; color: #000; text-indent: 1px; border-bottom: #7f9db9 1px solid;
}  
#Image_Securityes span
{
    margin-left:175px; position:absolute; margin-top: -25px;  text-indent: 1px;
} 
#LoginMain .LabelLogin {
	font-size:12px; float: left; margin: 0px; width: 108px; color: #4b585e; font-family: Tahoma, Arial, Helvetica; text-align: left
} 
#LoginMain .TextLogin {
	border: #7f9db9 1px solid;  margin-top: 2px;  color: #000; text-indent: 1px; 	
    color: #11354A;
    font-family: verdana;        
}
#LoginMain .checkmember
{  
   color: #4b585e;
   font-family: Tahoma, Arial, Helvetica;
   padding-top:15px;                      
   margin-left:-5px;  
}
.Public_input
{   
    margin: 1px;
    border-right: #DFE5E7 1px solid;
    border-top: #A8BAC2 1px solid;
    border-left: #A8BAC2 1px solid;
    border-bottom: #DFE5E7 1px solid; 
    color: #11354A;
    font-family: verdana;    
    padding:2px;    
}
.Button { cursor:pointer ; border:1px solid #cbced1; color:#4b585e;
          background: url(/Manager/Resources/Images/bgTextBox.gif) white repeat-x left top;                 
          }    
.TestingOnlieButtonTest { cursor:pointer ;  border:1px solid #cbced1;
    background: url(/Manager/Resources/Images/bgTextBox.gif) white repeat-x top center;
    color:#f0300a;                                  
}          
.cls_DGlist
{	
	border-bottom:0px;
	border-top:0px;
	border-right:0px;
	border-left:1px #8EB4CE;
	margin:-1px 0px 0px -1px;				
}
.cls_DGlist td,th
{		
	border:solid 1px #dbe1e6;	
}
.cls_dg_dictions td, th
{		
	border:solid 1px #dbe1e6;	
}
#id_input_setups input
{
	height:16px;	
	margin:-2px 0px 0px 0px;	
	padding:0px 0px 0px 0px;
	vertical-align:middle;
}
#VStootbalmain
{
    height:25px;    
}
#VStootbalmain select
{
	font-family: Verdana;
	font-size: 11px;		
}
#VStootbalmain input
{
	font-family: Verdana;
	font-size: 13px;		
}
.paddingshows
{
    padding-left:6px;
}
.cls_tip_top_bottom_changpass
{
		background:url("/Manager/Resources/Images/lineblue.gif") top center no-repeat;	
		height:8px; width:517px;
}
.cls_tip_top_bottom_changpass_s
{
		background:url("/Manager/Resources/Images/lineblue_s.png") top center no-repeat;	
		height:8px; width:517px;
}
.Tab_second
{
	background-image: url(/Manager/Resources/Images/Tabs/Tabs.png);background-repeat:no-repeat;
	width:80px;
	height:26px;	
	vertical-align:top;
	margin-bottom:1px;
	text-align:center;	
	font:normal 11px tahoma,arial,helvetica;color:#416aa3;cursor:pointer;
}
.Tabselected_second
{	
	background-image: url(/Manager/Resources/Images/Tabs/Tabselecteds.png);background-repeat:no-repeat;
	width:80px;
	height:26px;	
	vertical-align:top;
	margin-bottom:1px;
	text-align:center;		
	font:normal 11px tahoma,arial,helvetica;cursor:pointer;color:#15428b;font-weight:bold;		
}
.booter_tabs
{
	background-image: url(/Manager/Resources/Images/Tabs/bg_booter_tabs.gif); background-repeat:repeat-x; height:26px;
}
.left_tabs_selected
{
	vertical-align:top;
	text-align:left;
	float:left;
	width:3px;
	height:25px;	
	background-image: url(/Manager/Resources/Images/Tabs/left_tabs_selected.gif);
}
.center_tabs_selected
{
	float:left;
	background-image: url(/Manager/Resources/Images/Tabs/center_tabs_selected.gif);background-repeat:repeat-x; height:25px;
	vertical-align:top;
	margin-bottom:1px;
	width:64px;
	font:normal 11px tahoma,arial,helvetica;cursor:pointer;color:#15428b;font-weight:bold;	
}
.right_tabs_selected
{
	float:right;
	background-image: url(/Manager/Resources/Images/Tabs/right_tabs_selected.gif);
	width:3px;
	height:25px;	
}
.left_tabs
{
	vertical-align:top;
	text-align:left;
	float:left;
	width:2px;
	height:25px;	
	background-image: url(/Manager/Resources/Images/Tabs/left_tabs.gif);
}
.center_tabs
{
	float:left;
	background-image: url(/Manager/Resources/Images/Tabs/center_tabs.gif);background-repeat:repeat-x; height:25px;
	vertical-align:top;
	margin-bottom:1px;
	font:normal 11px tahoma,arial,helvetica;color:#416aa3;cursor:pointer;
	width:66px;
}
.right_tabs
{
	float:right;
	background-image: url(/Manager/Resources/Images/Tabs/right_tabs.gif);
	width:2px;
	height:25px;	
}  
.popup_layertype1 {width:578px; margin-left:-250px;z-index:150; position:absolute;}
	.popup_layertype1_sub {position:absolute; top:280px; left:50%; z-index:150; width:582px; height:319px; margin-left:-187px; background:#eceae8;}
	.popup_layertype2 {width:756px;  margin-left:-303px;}
	.popup_layertype2_sub {position:absolute; top:280px; left:50%; z-index:150; width:760px; height:319px; margin-left:-301px; background:#eceae8;}
.support_layer {position:absolute; top:68px; left:50%; z-index:150; width:754px; height:594px; margin-left:-390px;}
	.support_layer .btn_close {width:740px; padding:9px 14px 0 0; text-align:right; background:url(/Manager/Resources/Images/bg_visualpop_t.png) no-repeat 0 0; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Manager/Resources/Images/bg_visualpop_t.png", sizingMethod="images");}
	.support_layer .btn_close img {position:relative;}
	.support_layer .inner_content {width:656px; padding:0px 51px 10px 47px; background: url(/Manager/Resources/Images/bg_visualpop_m.png) repeat-y 0 0; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Manager/Resources/Images/bg_visualpop_m.png", sizingMethod="scale");}	
	.support_layer .inner_content strong {font-size:13px;}
	.support_layer .inner_content .comment {margin:0 0; padding:6px 0 12px; color:#666;}
	.support_layer .inner_content .select_boxs {margin-bottom:14px; color:Black; width:656px; overflow:hidden; }
	.support_layer .inner_content .select_boxs label {display:block; float:left; }
	.support_layer .inner_content .select_boxs select {margin-top:7px; border:1px solid #d4d4d4; background:#fff;}
	.support_layer .inner_content .btn_arrow {float:left; margin:60px 10px 0;}
	.support_layer .inner_content .model_img {float:right; margin:3px 15px 0 0;}
	.support_layer .inner_content .bottom_button {text-align:right; position: relative;}
	.support_layer .dummy {height: 18px; background: url(/Manager/Resources/Images/bg_visualpop_b.png) no-repeat 0 0; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Manager/Resources/Images/bg_visualpop_b.png", sizingMethod="images");}
	.popup_layertype1 .btn_arrow {margin:60px 30px 0 !important;}

	.poptagdiv {padding:0 0 35px;}
	
	
	 .hmwebdiv
    {
	    padding: 0px;
	    border: 1px solid #838383;	    
	    border-bottom: 1px solid #838383;
	    font: normal 12px Verdana;
	    line-height: 22px;
	    background-color: #FFFFFF;	   
    }   
     .hmwebdiv_second
    {
	    padding: 0px;
	    border: 1px solid #838383;	    
	    border-bottom: 1px solid #838383;
	    font: normal 12px Verdana;
	    line-height: 22px;
	    background-color: #FFFFFF;
	    position:absolute;
	    top:125px;
	    display:none;
    }   
    .hmweb_pu{
	    background-color:#fbfbfb;
	    filter:alpha(opacity=20);
	    opacity:0.7;
    }
    .Pupup_Header
    {        
        background-color:#8b8b8b;
        border-bottom: 1px solid #838383;
        height:32px;     
        color:White;  
        font-weight:bold;
        font-size:14px;  
    }
.AdditionalInputs
{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
.ruInputs td
{
    padding: 2px 0;
}
.ruInputs label
{
	width: 70px;
	padding-right: 5px;
	text-align: right;
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
}
.ruInputs .checkboxContainer label
{
	text-align: left;
	padding-left: 5px;
	display: inline;
}

.TextField
{
    margin: 1px;
    border-right: #DFE5E7 1px solid;
    border-top: #A8BAC2 1px solid;
    border-left: #A8BAC2 1px solid;
    border-bottom: #DFE5E7 1px solid; 
    color: #11354A;
    font-family: verdana;    
    padding: 1px;    
    background: white;
    width: 330px;
    height: 17px;
    margin-bottom:4px;
}
.FileDetails li
{
    clear: both;
}

.ruInputs li
{    
    padding-bottom: 5px;
}
.button_grid {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    color: #ffffff;
    background-color: #0a8ece;
    border-color: #0a8ece;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.54;
    border-radius: 2px;
    -webkit-user-select: none;
}